/* Footer.modules.css */

.footerContainer {
 
  color: #fff;
  padding: 20px 0;
  text-align: center;
  flex-direction: row;
  background-color: blue;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: blue;
}

.socialIcon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.socialIcon:hover {
  opacity: 0.8;
}
